version: '3.9'

services:
  server:
    build:
      context: .
      target: dev
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    links:
      - mongodb
    environment:
      MONGO_URI: mongodb://admin:admin@mongodb:27017
    volumes:
      - ./src:/app/src


  mongodb:
    image: mongodb/mongodb-community-server:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - ./data:/data/mongodb
    command: mongod --quiet --logpath /dev/null 

