version: '3.9'

services:
  server:
    build:
      context: .
      target: dev
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    links:
      - mongodb
      - smtp-server
    environment:
      MONGO_URI: mongodb://admin:admin@mongodb:27017
      SERVER_KEK: 9628177f62a03f5db4742273b915bf66.a21a897aa750
    volumes:
      - ./src:/app/src


  mongodb:
    image: mongodb/mongodb-community-server:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - ./data:/data/mongodb
    command: mongod --quiet --logpath /dev/null 

  smtp-server:
    build:
      context: .
      target: smtp
      args:
        EMAIL: rajdeeptechbyparts019@gmail.com
        EMAIL_PASSWORD: vykpvrrjdukwrdlu
        MAIL_NAME: Rajdeep
        SMTP_DOMAIN: smtp.gmail.com
        SMTP_PORT: 587
    ports:
      - 25:25

